AnchorPane{
    -fx-background-image: url(fondo.jpg)
}

TextField, PasswordField, TextArea, DatePicker{
    -fx-font-weight: bold;
    -fx-background-color: #dfdfdf;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

ImageView{
    -fx-image: url('grupo.png');
    -fx-image-border: 50px;
    -fx-image-border-color: #dfdfdf;
}

.label{
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-alignment: center-right;
    -fx-font-weight: bold;

}
Button{
    -fx-font-size:16px;
    -fx-font-weight: bold;
    -fx-background-color: #dfdfdf;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.encabezado-principal{
    -fx-font-size:24px;
    -fx-alignment: center;
}

.error-user{
    -fx-border-color: red;
    -fx-border-width: 2px;
}